<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Nueva Institución Registrada en el Sistema</title>
    <meta name="description" content="Nueva Institución Registrada en el Sistema">
    <style type="text/css">
        a:hover {text-decoration: underline !important;}
        /* Estilo para centrar la tabla y darle formato */
        body {
            text-align: center; /* Centrar el contenido en el div */
            font-family: Arial, sans-serif;
        }
        
        .estilo-tabla {
            margin: 0 auto; /* Centrar la tabla horizontalmente */
            width: 70%; /* Ancho de la tabla */
            border-collapse: collapse;
            border: 2px solid #3498db; /* Borde azul */
        }

        .estilo-tabla th, .estilo-tabla td {
            padding: 8px 12px;
            text-align: left; /* Alinear el contenido de las celdas a la izquierda */
        }

        .estilo-tabla th {
            background-color: #3498db; /* Fondo azul para encabezados */
            color: white; /* Texto blanco en encabezados */
        }

        .estilo-tabla tr:nth-child(even) {
            background-color: #f2f2f2; /* Fondo gris claro para filas pares */
        }

        .estilo-tabla tr:hover {
            background-color: #e7e7e7; /* Resaltado en el hover */
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                          <a href={{dominio}} title="logo" target="_blank">
                            <img width="60" src="https://e7.pngegg.com/pngimages/975/380/png-clipart-non-profit-organisation-organization-donate-love-miscellaneous.png" title="logo" alt="logo">
                          </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
                                            Se ha registrado una nueva institución</h1>
                                        <span style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            
                                            Queremos informarte que se ha registrado una nueva Institución en nuestro sistema de gestión. 
                                            A continuación, se presentarán los detalles de la institución:
                                        </p>
                                        <p></p>
                                        <table class="estilo-tabla">
                                            <tr>
                                                <td><strong>Nombre de la Institución:</strong></td>
                                                <td>{{ institucion.nombre }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Director:</strong></td>
                                                <td>{{ institucion.director }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Fecha de Fundación:</strong></td>
                                                <td>{{ institucion.fecha_fundacion }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Domicilio:</strong></td>
                                                <td>{{ institucion.domicilio }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Localidad:</strong></td>
                                                <td>{{ institucion.localidad }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Provincia:</strong></td>
                                                <td>{{ institucion.provincia }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>País:</strong></td>
                                                <td>{{ institucion.pais }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Teléfono:</strong></td>
                                                <td>{{ institucion.telefono }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Correo Electrónico:</strong></td>
                                                <td>{{ email }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Cantidad de Empleados:</strong></td>
                                                <td>{{ institucion.cant_empleados }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Descripción:</strong></td>
                                                <td>{{ institucion.descripcion }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>CBU:</strong></td>
                                                <td>{{ institucion.cbu }}</td>
                                            </tr>
                                        </table>
                                        <P></P>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            Por favor, revisa estos detalles y asegúrate de que son correctos. Si es necesario, 
                                            ponte en contacto con la institución para verificar la información.

                                            Una vez que se hayan validado los datos de la Institución, deberá ser habilitada para completar su suscripción. 
                                            Para habilitarla, necesitarás proporcionarle el siguiente código de habilitación:
                                        </p>
                                        <a  style="background:#20e277;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">
                                            {{institucion.codigo_habilitacion}}
                                        </a>
                                        <p></p>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            Este código es esencial para que la institución pueda comenzar a utilizar 
                                            nuestro sistema de gestión. Por favor, comparte este código con ellos y con nadie más.  
                                            Asegúrate de que lo ingresen correctamente en su cuenta.
                                        </p>
                                           
                                    </td>
                                </tr>
                                
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; <strong>www.rakeshmandal.com</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>

</html>