<html>
    <head>
        <title>ALTA de Donante</title>
    </head>

    <body>
        <h1>Datos de un Donante</h1>
        <form action="/alta_donante/" method="POST"> {% csrf_token %}
            <p>Nombre: 
                <input type="text" name="nombre">
            </p>
            <p>Apellido: 
                <input type="text" name="apellido">
            </p>
            <p>Email: 
                <input type="text" name="email">
            </p>
            <p>Edad: 
                <input type="text" name="edad">
            </p>
            <input type="submit" value="Crear">
    </body>
</html>

